/* prettier-ignore */
:host {
  ---xlp-numeric-stepper-icon-size: var(--xlp-numeric-stepper-icon-size, 20px);
  ---xlp-numeric-stepper-step-icon-size: var(--xlp-numeric-stepper-step-icon-size, calc(var(---xlp-numeric-stepper-icon-size) * 1.25));
  ---xlp-numeric-stepper-badge-size: var(--xlp-numeric-stepper-badge-size, calc(var(---xlp-numeric-stepper-step-icon-size) / 2));
  ---xlp-numeric-stepper-badge-icon-size: var(--xlp-numeric-stepper-badge-icon-size, calc(var(---xlp-numeric-stepper-step-icon-size) / 3));
}

:host {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  padding: 2px;

  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: calc(5px + 2px); /* icon button radius + spacing */
}

:host([orientation='vertical']) {
  flex-direction: column;
}

:host([orientation='horizontal']) {
  flex-direction: row-reverse;
}

xlp-badge {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(25%, 25%);
  z-index: 1;

  --xlp-icon-size: var(---xlp-numeric-stepper-badge-icon-size);
  --xlp-badge-size: var(---xlp-numeric-stepper-badge-size);
  --xlp-badge-content-size: var(---xlp-numeric-stepper-badge-icon-size);
}

xlp-icon-button {
  --xlp-icon-size: var(---xlp-numeric-stepper-step-icon-size);
  font-variation-settings: 'wght' 300;

  slot {
    --xlp-icon-size: var(---xlp-numeric-stepper-icon-size);
    --xlp-icon-spacing: calc((var(---xlp-numeric-stepper-step-icon-size) - var(---xlp-numeric-stepper-icon-size)) / 2);
    font-variation-settings: 'wght' 400;
  }
}
