:host {
  ---xlp-badge-size: var(--xlp-badge-size, 12px);
  ---xlp-badge-content-size: var(--xlp-badge-content-size, 8px);
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(---xlp-badge-size);
  padding: 0 calc(var(---xlp-badge-size) / 4);

  border-radius: calc(var(---xlp-badge-size) / 2);
  background-color: #d83c3c;
  color: #f5f5f5;

  font-size: var(---xlp-badge-content-size);
  line-height: 1;
  white-space: nowrap;

  pointer-events: none;
}

:host([circular]) {
  aspect-ratio: 1;
  padding: 0;
}
