:host {
  display: block;
  transition: 0.3s ease-in-out opacity;
  user-select: none;
}

:host([hidden]) {
  opacity: 0;
  pointer-events: none;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  padding: 10px;

  color: #000;

  --xlp-icon-size: 32px;
}
