xlp-preview {
  ---xlp-content-margin: var(--xlp-content-margin, 10);
  ---xlp-content-size: var(--xlp-content-size, 14);
}

xlp-preview {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  padding: calc(var(---xlp-content-margin) * var(---xlp-rel-mm));
  font-size: calc(var(---xlp-content-size) * var(---xlp-rel-pt));

  color: #000;
  background-color: #fff;

  > article {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > ul,
    > ol,
    > blockquote,
    > pre {
      margin: 0 0 calc(5 * var(---xlp-rel-mm));
    }

    h1 {
      font-size: 1.75em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    h4,
    h5,
    h6 {
      font-size: 1em;
    }

    ul,
    ol {
      padding: 0;
    }

    li {
      position: relative;
      padding-left: 1.5ch;
      list-style: none;

      &::before {
        position: absolute;
        inset: 0 auto auto 0;
      }
    }

    ul > li::before {
      content: '•';
    }

    ol {
      counter-reset: item;

      > li::before {
        content: counters(item, '.') '.';
        counter-increment: item;
      }
    }

    /* prettier-ignore */
    ol {
      > li { padding-left: 2.5ch; }
      > li > ol > li { padding-left: 4ch; }
      > li > ol > li > ol > li { padding-left: 5.5ch; }
      > li > ol > li > ol > li > ol > li { padding-left: 7ch; }
      > li > ol > li > ol > li > ol > li > ol > li { padding-left: 8.5ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 10ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 11.5ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 13ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 14.5ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 16ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 17.5ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 19ch; }
      > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li { padding-left: 21.5ch; }
    }
  }
}
