:host {
  display: flex;
  height: 100%;
  width: 100%;

  flex: 1;
  align-items: center;
  justify-content: center;

  user-select: none;
}

slot {
  display: flex;
  padding: 20px;

  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;

  border: 3px dashed #666;
  border-radius: 20px;

  color: #666;

  --xlp-icon-size: 100px;
  font-variation-settings: 'wght' 150;

  :host([dragged-over]) & {
    border-color: #f4f4f4;
    color: #f4f4f4;
  }
}
