@import '@fontsource-variable/inter-tight';
@import '@fontsource-variable/material-symbols-outlined';

:root {
  /**
   * 12pt = 4.23333mm
   * 1mm = 100cqmin / 210
   * 1mm = 2.83465pt
   */
  ---xlp-rel-mm: calc(100cqmin / 210);
  ---xlp-rel-pt: calc(var(---xlp-rel-mm) * 0.352778);
}

html {
  font-size: 12px;
}

body {
  margin: 0;
}
